* {
	padding:0px;
	margin:0px;
	font-size:12px;
}
#navList {
	border-top:1px solid #EE82EE;
	border-bottom:1px solid #EE82EE;
	border-left:1px solid #EE82EE;
	height:500px;
}
dl.navList dt {
	width:163px;
	background: url("img/content_intro_bg.png") repeat-x;
	height:30px;
	color:#ffffff;
}
dl.navList dt span {
	position:relative;
	left:35px;
	top:8px;
}
dl.navList dd {
	margin-left:7px;
	margin-top:22px;
	background:url("img/navList_list_icon.png") no-repeat;
	background-position:15px 45%;
}
dl.navList dd a {
	position:relative;
	left:30px;
}
dl.navList dd a:link,dl.navList dd a:visited {
	text-decoration:none;
	color:#000;
}
dl.navList dd a:hover {
	text-decoration:underline;
	color:#800000;
}
